/* Стили верхнего меню */

.s-top-header a{
    text-decoration: none;
    color: var(--bs-light);
}

.s-top-header i{
    color: var(--bs-light);
}

/* Стили главного меню */

.s-main-menu-title {
    font-size: 1.85rem;
}

.s-main-menu-list {
    display: flex;
    margin-left: -1.25rem;
}

    .s-main-menu-list > li {
        position: relative;
        margin-left: 1rem;
        padding: 1rem 0;
    }

        .s-main-menu-list > li:hover > a > span, .s-main-menu-list > li.active > a > span {
            transform: translateY(100%);
        }

        .s-main-menu-list > li:hover > a::after, .s-main-menu-list > li.active > a::after {
            transform: none;
        }

        .s-main-menu-list > li:last-child > a {
            padding-right: 0;
        }

        .s-main-menu-list > li > a {
            font-size: 0.9375rem;
            padding: 0 0.625rem;
            overflow: hidden;
        }

            .s-main-menu-list > li > a::after {
                content: attr(data-title);
                position: absolute;
                left: 0;
                top: 0;
                transform: translateY(-100%);
                padding: 0 0.625rem;
                width: 100%;
                white-space: nowrap;
                transition: all 0.4s;
                color: var(--bs-primary);
            }

            .s-main-menu-list > li > a > span {
                display: block;
                transform: translateY(0);
                transition: all 0.4s;
            }

        .s-main-menu-list > li a {
            color: var(--bs-dark);
            position: relative;
            display: block;
            text-decoration: none;
            font-size: 1rem;
        }

/* Стили мобильного меню */

.s-mobile-menu-list > li {
    background-color: rgba(var(--bs-primary-rgb), 0.08);
    padding: 0.8rem;
    margin-bottom: 1px;
    color: var(--bs-dark);
    cursor: pointer;
}

    .s-mobile-menu-list > li > a {
        color: var(--bs-dark);
        text-decoration: none;
    }

    .s-mobile-menu-list > li.active {
        background-color: var(--bs-primary);
    }

    .s-mobile-menu-list > li.active a {
        color: var(--bs-body-bg);
    }

.s-mobile-menu-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--bs-dark);
}

.s-mobile-menu-bottom a {
    text-decoration: none;
    color: var(--bs-light);
}