/* Таблицы */
table thead th {
    text-transform: uppercase;
    color: var(--bs-primary);
    font-weight: 400;
    font-size: 0.8rem;
}

table tbody tr {
    transition: all 0.2s;
}

table tbody tr:hover {
    background-color: rgba(var(--bs-primary-rgb), 0.08); 
}

/* Расчёты */

.s-invoice-container {
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: var(--bs-border-radius-xl);
    border: 1px solid var(--bs-border-color);
    background-color: var(--bs-body-bg);
}

.s-invoice-container:hover {
    border-color: transparent;
    box-shadow: 0px 0px 14px 0px rgba(77, 82, 94, 0.15);
}

.s-invioce-table td:first-child, .s-invioce-table th:first-child {
    padding-left: 0;
}
.s-invioce-table td:last-child, .s-invioce-table th:last-child {
    padding-right: 0;
}

@media (max-width: 768px) {
    .s-invoice-container {
        font-size: 0.9em;
    }
}

.s-invoice-badge {
    position: absolute;
    top: 2rem;
    right: -3.4rem;
    width: 12.5rem;
    height: 2rem;
    line-height: 2rem;
    background-color: var(--bs-primary);
    color: var(--bs-body-bg);
    text-align: center;
    font-size: 0.85rem;
    transform: rotate(45deg);
    text-transform: uppercase;
}