/* custom.scss */    

/* import the necessary Bootstrap files */
@import "scss/functions";
@import "scss/variables";

/* -------btns-------- */   
$btn-padding-y: 0.6rem;
$btn-padding-x: 1.5rem;
$btn-font-size: 0.9rem;

/* -------fonts-------- */  
$headings-font-weight: 600;

/* use a variable to override primary */
$theme-colors: (
  "primary":    #186ADC,
  "secondary":  $secondary,
  "success":    $success,
  "info":       purple,
  "warning":    $warning,
  "danger":     #ff3d0d,
  "light":      $light,
  "dark":       #303036
);

$mark-bg: $primary;

/* -------end customization-------- */  

/* finally, import Bootstrap to set the changes! */
@import "scss/bootstrap";